<!doctype html>
<html ng-app="myApp">
    <head>
        <title>Alien Defense</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-brand ">Alien Nuke Operation</div>            
            </div>
        </div>
    <center>
        <div class="container" ng-controller="Locations">
            <div class="jumbotron">
                <div class="form-inline">
                    <label for="N">Number of Co-Oridnates for the Alien Location</label>
                    <input type="text" class="form-control" id="N" placeholder="N" ng-model="N">
                    <button class = "btn btn-primary" ng-if="N" ng-click="create(N)">Test Inputs</button>
                </div>
                <br>
                <br>
                <div ng-repeat="x in coords">
                    <!-- Input Region {{x}} -->
                    <form class="form-inline">
                        <div class="form-group">
                            <label >X{{$index + 1}}</label>
                            <input type="text" class="form-control"  placeholder="X{{$index + 1}}" ng-model='coords[$index].X'>
                        </div>

                        <div class="form-group">
                            <label >Y{{$index + 1}}</label>
                            <input type="text" class="form-control"  placeholder="Y{{$index + 1}}" ng-model='coords[$index].Y'>
                        </div>

                    </form>
                    <br>
                </div>
                <br>
                <button class="btn btn-danger" ng-if="nukeButton" ng-click="algo()">Get Nuke Locations & Radius</button>
            </div>

            <div class="jumbotron" ng-if="minRadius" >
            <h2 >Result</h2>
            (*Check Console Output for more Info)
            <br>
            <!-- Nuke Points -->
            <div ng-repeat="x in feasiblePoints">

                ({{feasiblePoints[$index][0]}},{{feasiblePoints[$index][1]}})

            </div>
            <br>
            Minimum Radius : {{minRadius}}
            </div>
        </div>
    </center>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript">

    var myApp = angular.module("myApp", []);
    var testCases = '';
    var arr;
    var coords;
    var feasiblePoints = [], minRadius = 0;

    myApp.controller("Locations", function ($scope) {

        $scope.create = function (N) {
            //Creating the Co Oridnates Input with Blank Values

            testCases = N;

            arr = "[";
            if (testCases != '' && testCases) {
                for (var i = 0; i < testCases - 1; i++)
                {
                    arr += '{"X":"","Y":""},';
                }
                arr += '{"X":"","Y":""}';
            }
            arr += "]";

            coords = JSON.parse(arr);
            $scope.coords = coords;

            $scope.nukeButton = "true";

        }

        // The Main Algo Part 
        $scope.algo = function () {

            console.log("Calculating Initial Alien Positions");

            for (var i = 0; i < testCases; i++) {
                console.log("X" + (i + 1) + ":" + coords[i].X + " " + "Y" + (i + 1) + ":" + coords[i].Y);
            }


            var apogeePointDistance = 0, id = 0; // For the farthest point from the origin and it's location

            for (var i = 0; i < testCases; i++) {
                if (Math.ceil(Math.sqrt(coords[i].X * coords[i].X + coords[i].Y * coords[i].Y)) > apogeePointDistance) {
                    apogeePointDistance = Math.ceil(Math.sqrt(coords[i].X * coords[i].X + coords[i].Y * coords[i].Y));
                    id = i;
                }
            }

            console.log("Farthest From Origin " + "X" + (id + 1) + ":" + coords[id].X + " " + "Y" + (id + 1) + ":" + coords[id].Y + "  Distance = " + apogeePointDistance)

            var pointCheck = true, dis = 0, y = 0;
            minRadius = apogeePointDistance;

            // Minimum Radius and one optimum Point
            for (var i = 0; i < coords[id].X; i++)
            {

                y = Math.ceil((coords[id].Y * i) / coords[id].X);
                console.log("Testing with (" + i + "," + y + ")");

                if (y > coords[id].Y) {
                    break;
                }

                dis = Math.ceil(Math.sqrt(((coords[id].X - i) * (coords[id].X - i)) + ((coords[id].Y - y) * (coords[id].Y - y))));
                console.log("Distance :" + dis);

                for (var j = 0; j < testCases && pointCheck; j++) {

                    if (j == id) {
                        continue;
                    }

                    var disSquare = ((i - coords[j].X) * (i - coords[j].X)) + ((y - coords[j].Y) * (y - coords[j].Y));

                    if (!(Math.sqrt(disSquare) <= dis)) {
                        pointCheck = false;
                    }

                }

                if (pointCheck && dis < minRadius)
                {
                    minRadius = dis;
                    feasiblePoints.push([i, y]);
                    console.log("MIN CHECK(" + i + "," + y + ")");
                }

                pointCheck = true;
            }



            //The minimum Radius and one of the main feasible points
            console.log("Minimum Radius : " + minRadius + "  Feasible Point : " + feasiblePoints[feasiblePoints.length - 1][0] + " " + feasiblePoints[feasiblePoints.length - 1][1]);

            //Feasible Points 

            var x1 = feasiblePoints[feasiblePoints.length - 1][0];
            var y1 = feasiblePoints[feasiblePoints.length - 1][1];
            feasiblePoints = [];
            pointCheck = true;

            for (i = x1; i < coords[id].X; i++)
            {
                for (j = y1; j < coords[id].Y; j++)
                {

                    for (var k = 0; k < testCases && pointCheck; k++) {

                        if (!((coords[k].X - i) * (coords[k].X - i) + (coords[k].Y - j) * (coords[k].Y - j) <= minRadius * minRadius))
                            pointCheck = false;

                    }

                    if (pointCheck) {
                        feasiblePoints.push([i, j]);
                    }

                    pointCheck = true;
                }
            }

            console.log("Feasible Points :");
            console.log(feasiblePoints);
            $scope.minRadius = minRadius;
            $scope.feasiblePoints = feasiblePoints;
        }



    });



    </script> 
</body>
</html>
